@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600&family=Barlow:wght@400;500;600;700&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

.App {
  a {
    text-decoration: underline;
  }
}